{% load url from future %}
<div class="row-fluid">
  <div class="span9">
    <div class="page-header">
      <h1><small>{{ section_name }} </small>{{ page_name }}</h1>
    </div>
    <p>
      {% autoescape off %}
      {{ page_rendered }}
      {% endautoescape %}
    </p>
    <div>
      <span class="badge badge-success">Updated {{ page.updated_at }}</span>
      <div class="pull-right">
	<span class="label">{{ page.user.first_name }} {{ page.user.last_name }}</span>
      </div>
    </div>
    <hr />
    <div>
      <a href="{% url 'wiki.views.index' section_name page_name 'edit' %}" class="btn"><i class="icon-edit"></i> <strong>Edit</strong></a>
    </div>
  </div><!--/span9-->
  <div class="span3">
    {% include "templates/widget_toc.html" %}
  </div><!-- /span3 -->
</div><!--/row-->
