<div class="row-fluid">
  <div class="span9">
    <div class="hero-unit">
      <h2>Wiki</h2>
      <p><i class="icon-leaf"></i> Conjured in Django by Kyle Jake Plimack</p>
    </div>
    <h2>Stuff in the works:</h2>
    <h6>in no particular order......</h6>
    <p>
      <ul>
	<li>Versioning</li>
	<li>Move Page by Section</li>
	<li>openid</li>
	<li>unit tests</li>
	<li>invite a user</li>
	<li>make the search work</li>
      </ul>
    </p>
  </div><!--/span-->
  <div class="span3">
    {% include "templates/content_home_lastupdated.html" %}
  </div>
</div><!--/row-->
