<hr />
<footer>
  <p>&copy; Kyle Jake Plimack 2012 | <a href="http://www.jakeplimack.com" target="_blank">www.jakeplimack.com</a> | <a href="https://github.com/kplimack/" target="_blank"> kplimack@github</a></p>
</footer>

</div><!--/.fluid-container-->

<!-- Le javascript
     ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ STATIC_URL }}/bootstrap/docs/assets/js/jquery.js"></script>
<script src="{{ STATIC_URL }}/bootstrap/docs/assets/js/bootstrap-transition.js"></script>
<script src="{{ STATIC_URL }}/bootstrap/docs/assets/js/bootstrap-alert.js"></script>
<script src="{{ STATIC_URL }}/bootstrap/docs/assets/js/bootstrap-modal.js"></script>
<script src="{{ STATIC_URL }}/bootstrap/docs/assets/js/bootstrap-dropdown.js"></script>
<script src="{{ STATIC_URL }}/bootstrap/docs/assets/js/bootstrap-scrollspy.js"></script>
<script src="{{ STATIC_URL }}/bootstrap/docs/assets/js/bootstrap-tab.js"></script>
<script src="{{ STATIC_URL }}/bootstrap/docs/assets/js/bootstrap-tooltip.js"></script>
<script src="{{ STATIC_URL }}/bootstrap/docs/assets/js/bootstrap-popover.js"></script>
<script src="{{ STATIC_URL }}/bootstrap/docs/assets/js/bootstrap-button.js"></script>
<script src="{{ STATIC_URL }}/bootstrap/docs/assets/js/bootstrap-collapse.js"></script>
<script src="{{ STATIC_URL }}/bootstrap/docs/assets/js/bootstrap-carousel.js"></script>
<script src="{{ STATIC_URL }}/bootstrap/docs/assets/js/bootstrap-typeahead.js"></script>

</body>
</html>
