{% load url from future %}
{% include "templates/headers.html" %}
<body>
  {% include "templates/nav_top.html" %}
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span3">
        {% include "templates/nav_left.html" %}
      </div><!--/span-->
      <div class="span9">
        <div class="row-fluid">
          <div class="span12" style="background: pink;">
            {% include "templates/breadcrumbs.html" %}
          </div>
        </div>
        {% include "templates/content_home.html" %}
      </div><!--/span-->
    </div><!--/row-->
    {% include "templates/footer.html" %}
