{% load url from future %}
{% include "templates/headers.html" %}
<body>
  {% include "templates/nav_top_notauth.html" %}
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <div class="hero-unit">
          <h1>login</h1>
          <p>the wiki</p>
	  {% if state %}
	  <h6><p class="text-error">{{ state }}</p></h6>
	  {% endif %}
          <form class="form-inline" action="{% url 'wiki.views.login_user' %}" method="post">
	    {% csrf_token %}
            <input name="username" type="text" class="input-small" placeholder="Username">
            <input name="password" type="password" class="input-small" placeholder="Password">
            <label class="checkbox">
              <input name="rememberme" type="checkbox"> Remember me
            </label>
            <button type="submit" class="btn">Sign in</button>
          </form>
        </div>
      </div>
    </div>
  </div><!--/span-->
</div><!--/row-->

{% include "templates/footer.html" %}
