{% load url from future %}
<div class="row-fluid">
  <div class="span9">
    <div class="page-header">
      <h1><small>{{ section_name }}</small> {{ page_name }}</h1>
    </div>
    {% include "templates/page_edit_toolbar.html" %}
    <p>
      {% autoescape off %}
      <textarea id="page_content_raw" class="field span12" rows="25" style="resize:none;">{{ page.content }}</textarea>
      {% endautoescape %}
    </p>
    <div>
      <span class="badge badge-success">Updated {{ page.updated_at }}</span>
      <div class="pull-right">
	<span class="label">{{ page.user.first_name }} {{ page.user.last_name }}</span>
      </div>
    </div>
    <hr />
    <div>
      <a href="#" class="btn"><i class="icon-ok"></i> <strong>Save</strong></a>
      <a href="#" class="btn"><i class="icon-remove"></i> <strong>Cancel</strong></a>
      <a href="#" class="btn"><i class="icon-trash"></i> <strong>Delete</strong></a>
    </div>
  </div><!--/span-->
  <div class="span3" style="margin-top: 80px;">
    {% include "templates/page_edit_examples.html" %}
  </div>
</div><!--/row-->
