{% load url from future %}
{% include "templates/modal_rename.html" %}
{% include "templates/modal_delete.html" %}
<div class="row-fluid">
  <div class="span9">
    <div class="page-header">
      <h1><small>{{ section_name }}</small> {{ page_name }}</h1>
    </div>
    {% include "templates/page_edit_toolbar.html" %}
    <form action="{% url 'wiki.views.page_save' section_name page_name %}" method="post">
      {% csrf_token %}
      <p>
        {% autoescape off %}
        <textarea id="page_content_raw" name="page_content_raw" class="field span12" rows="25" style="resize:none;">{{ page.content }}</textarea>
        {% endautoescape %}
      </p>
      <div>
        <span class="badge badge-success">Updated {{ page.updated_at }}</span>
        <div class="pull-right">
          <span class="label">{{ page.user.first_name }} {{ page.user.last_name }}</span>
        </div>
      </div>
      <hr />
      <div>
        <button type="submit" class="btn"><i class="icon-ok"></i> <strong>Save</strong></button>
        <a href="{% url 'wiki.views.index' section_name page_name %}" class="btn"><i class="icon-remove"></i> <strong>Cancel</strong></a>
        <a href="#renameModal" role="button" class="btn" data-toggle="modal"><i class="icon-tags"></i> <strong>Rename</strong></a>
        <a href="#deleteModal" role="button" class="btn" data-toggle="modal"><i class="icon-trash"></i> <strong>Delete</strong></a>
      </div>
    </form>
  </div><!--/span-->
  <div class="span3" style="margin-top: 80px;">
    {% include "templates/page_edit_examples.html" %}
  </div>
</div><!--/row-->
